body{
    background-color: #c3e8f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1000px;
}
header{
    position: relative;
    bottom: 50px;
}

main{
    position: relative;
    bottom: 20px;
    background-color: #9ad44f;
    height: 100vh;
    width: 1000px;
    border-radius: 40px 40px 0 0;
}

form{
    position: relative;
    top: 60px;
    left: 130px;
}

#title {
    background-color: #fff789;
    width: 300px;
    height: 30px;
}

#writer {
    background-color: #fff789;
    width: 300px;
    height: 30px;
    margin: 15px;
}

#body {
    background-color: #fff789;
}

h1{
    position: relative;
    font-weight: bold;
    color: #eeeb31;
    top: 190px;
    left: 200px;
}

