<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<body>
    <header>
        <h1 class="mainTitle">euntaek's blog</h1>
        <img width="600px" src="{% static 'image/croco.png' %}">
    </header>
    <main>
        <section>
    <div>
    <h1>제목: {{ blog.title }}</h1>
    </div>
    <div>
    <p>작성자: {{ blog.writer }}</p>
    </div>
    <div>
    <p>{{ blog.body }}</p>
    </div>
    <div class="btn">
    <a href="{% url 'edit' blog.id %}">수정하기</a>
    </div>
    <div class="btn">
    <a href="{% url 'delete' blog.id %}">삭제하기</a>
    </div>
    <div class="btn">
	<a href="{% url 'home' %}">돌아가기</a>
    </div>
</section>
    </main>
</body>
</html>